# oXygen project file
*.xpr
# Windows shortcuts
*.lnk
# Log files
*.log
# Local ftp support
Update-GSLIS.*
# archiving logic
localhost+8888/
snapshot.bat

# cocoon installation
cocoon/target/

# local working files
local

# misc
debug/
xml-mapping-notes.txt
